

body {
    background-color: rgb(26, 26, 26);
    margin: 0;
   min-height: 100vh;
    min-width: auto;
    max-width: 1920px;
}
/*Barra de navegação*/
#navbar {
    background-color: rgb(00, 00, 00);
    display: grid;
    align-items: center;
   position:fixed;

   top:0;
   left:0;
   right: 0;

   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   z-index: 1000;
   
   max-width:  1920px; 
}

.button-nav {
    background-color: red;
    margin: 1rem;
    font-weight: 700;
    font-size: x-large;
    grid-column: 1;
}

.button-nav:hover{
    color: white;
    transition: 0.25s;
}

#atual {
    color:white;
}

#H1principal {
    margin: 0;
    grid-column: 3;
}

#H1principal a{
text-decoration: none;
color: red;
}

#H1principal a:hover{
color: darkred;
transition-duration: 0.25s;
}

/*Texto*/
p{
    font-size: 2rem;
    padding-left: 2vh;
}

h2{
    color: rgb(74, 74, 74);
    font-size:x-large;

}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 1rem;
    margin: 1rem;
    height: 1rem;
}

.linksNO{
    text-decoration: none;
    color: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

/*sections*/

#imagem img {
    height: 400px;
    width: 300px;
    padding-top: 10%;
    background-color: red;
}

#imagem {
    height: auto;
    width: auto;
    padding-left: 5%;
    padding-top:5% ;
}


#letra{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
    padding-bottom: 5%;
}


#texto{
    grid-column: 2;
    padding-top: 10%;
}

#texto p{
    color: white;
    max-width: 75%;
    min-width: 25%;
}

#texto h2{
    padding-top: 2.5%;
    font-size:xx-large;
    color: red;
}

/*Rodapé*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    max-width: 1600px;
    /*justify-content: space-between;*/
}

#socials img{
    height: 6vh;
    width: 6vh;
}

#socials h2 ul{
    grid-column: 3;
    justify-self: self-end;
}

#linkeds h2{
    padding-left: 10%;
}

#linkeds li{
    color: rgb(104, 104, 104);
    font-size: x-large;
}

#linkeds a{
     text-decoration: none;
     color: rgb(104, 104, 104);
}

#linkeds ul{
    display: flex;
    grid-column: 1;
    flex-direction: column;
    padding-left: 10%;
}

#linkeds a:hover{
    color: red;
    transition-duration: 0.25s;
}

/*correções*/

@media (max-width:600px) {

body{
    max-width: 100%;
    
}

    #navbar {
    background-color: rgb(00, 00, 00);
    display: flex;
    flex-direction: column;
   position:fixed;
    max-width: 100%;
   top:0;
   left:0;
   right: 0;

   z-index: 1000;
}

.button-nav {
    background-color: red;
    margin: 1rem;
    font-weight: 700;
    font-size: x-large;
    grid-row:1;
}

#H1principal{
    grid-row: 2;
    
}

#imagem {
    padding-top: 8rem;
}

#letra{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5%;
    flex-direction: column;
}


#texto{
    padding-top: 0;
    padding-left: 3%;
    grid-column: 2;
}


}