

body {
    background-color: rgb(26, 26, 26);
    margin: 0;
   min-height: 100vh;
   max-width: 100%;

   display: grid;
   grid-template-columns: 1fr;
}

/*Barra de navegação*/
#navbar {
    background-color: rgb(00, 00, 00);
    display: grid;
    align-items: center;
   position:fixed;

   top:0;
   left:0;
   right: 0;

   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   z-index: 1000;
   
   max-width:  1920px; 
}

.button-nav {
    background-color: red;
    margin: 1rem;
    font-weight: 700;
    font-size: x-large;
    grid-column: 1;
}

.button-nav:hover{
    color: white;
    transition: 0.25s;
}

#atual {
    color:white;
}

#H1principal {
    margin: 0;
    grid-column: 3;
}

#H1principal a{
text-decoration: none;
color: red;
}

#H1principal a:hover{
color: darkred;
transition-duration: 0.25s;
}

/*Texto*/
p{
    font-size: 2rem;
    padding-left: 2vh;
}

h2{
    color: rgb(74, 74, 74);
    font-size:x-large;

}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 1rem;
    margin: 1rem;
}

.linksNO{
    text-decoration: none;
    color: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

/*sections*/

#imagem img {
    height: 400px;
    width: 300px;
    padding-top: 10%;
    background-color: red;
}

#imagem {
    height: auto;
    width: auto;
   align-items: center;
   padding-top: 5%;
}


#letra{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}


#texto{
    align-items: center;
}

#texto p{
    text-align: center;
    color: white;
    max-width: 100%;
}

#texto h2{
    padding-top: 2.5%;
    font-size:xx-large;
    color: red;
    text-align: center;
}

/*Rodapé*/

hr {
    background-color: rgb(104, 104, 104);
    border: none;
    height: 2px;
    width: 100%;
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    max-width: 100%;
    /*justify-content: space-between;*/
}

#socials img{
    height: 3rem;
    width: 3rem;
}

#socials h2 ul{
    grid-column: 3;
    justify-self: self-end;
}

#linkeds h2{
    padding-left: 10%;
}

footer li{
    color: rgb(104, 104, 104);
    font-size: x-large;
}

footer a{
     text-decoration: none;
     color: rgb(104, 104, 104);
}

#linkeds ul{
    display: flex;
    grid-column: 1;
    flex-direction: column;
    padding-left: 10%;
}

footer a:hover{
    color: white;
    transition-duration: 0.25s;
}

/*correções*/

/*Media Querie*/
@media (max-width:600px) {

body{
    width: 100%;
    
}

    #navbar {
    background-color: rgb(00, 00, 00);
    display: flex;
    flex-direction: column;
   position:fixed;
    width: 100%;
   top:0;
   left:0;
   right: 0;

   z-index: 1000;
}

.button-nav {
    background-color: red;
    margin: 1rem;
    font-weight: 700;
    font-size: x-large;
    grid-row:1;
}

#H1principal{
    grid-row: 2;
    
}

#imagem img{
    padding-top: 20%;
}


footer{
 text-align:left;
 display: flex;
 flex-direction: column;
}

#socials{
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}

#linkeds{
    padding-bottom: 0;
}

#linkeds a{
     font-weight: 400;
}

#socials img{
    height: 2rem;
    width: 2rem;
}

#email{
    padding-left: 10%;
}
 }