*{
  box-sizing: border-box;
}

body {
    background-color: rgb(26, 26, 26);
    margin: 0 auto;
   min-height: 100vh;
   max-width: 1920px;
   overflow-x: hidden;
}
/*Barra de navegação*/
#navbar {
    background-color: rgb(00, 00, 00);
    display: grid;
    align-items: center;
   position:fixed;

   top:0;
   left:0;
   right: 0;

   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   z-index: 1000;
   
   max-width:  1920px; 
  animation: none;
}

.button-nav {
    background-color: red;
    margin: 1rem;
    font-weight: 700;
    font-size: x-large;
    grid-column: 1;
    color:inherit;
    text-decoration: none;
}

.button-nav:hover{
    color: white;
    transition: 0.25s;
}

#H1principal {
    margin: 0;
    grid-column: 3;
}

#H1principal a{
text-decoration: none;
color: red;
}

#H1principal a:hover{
color: darkred;
transition-duration: 0.25s;
}

#atual{
    color: white;
}

/*Texto*/
p{
    font-size: 2rem;
   /* padding-left: 1vh;*/
}

h2{
    color: rgb(74, 74, 74);
    font-size:x-large;

}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 1rem;
    margin: 1rem;
}

.linksNO{
    text-decoration: none;
    color: inherit;
}

/*sections*/
#musicas{
    padding-top: 7%;
    padding-bottom: 8%; 
    color: white;
    align-items: center;
   /*rflow: auto;
    scrollbar-color: red black;*/
}

#musicas ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 5%;
    padding-right: 5%;
}

#musicas div{
    /*min-width: 200px;
    min-height: 200px;
    background-color: red;*/

    display: flex;
    align-items: center;
    flex-direction: column;
}

#musicas img{
    height: 15rem;
    width: 15rem;
    background-color: red;
   /* border: 5%;*/
    border-color: white;
}

#musicas h2{
    color: white;
    font: bolder;
}

#musicas a{
    text-decoration: none;
    color: inherit;
}

#musicas h2:hover{
    transition-duration: 0.25s;
    color: red;
}

/*Rodapé*/

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    left: 0;
    border-top:2px solid rgb(104, 104, 104);
    /*justify-content: space-between;*/
}

#socials img{
    height: 3rem;
    width: 3rem;
}

#socials h2 ul{
    grid-column: 3;
    justify-self: self-end;
}

#linkeds h2{
    padding-left: 10%;
}

footer li{
    color: rgb(104, 104, 104);
    font-size: x-large;
}

footer a{
     text-decoration: none;
     color: rgb(104, 104, 104);
}

#linkeds ul{
    display: flex;
    grid-column: 1;
    flex-direction: column;
    padding-left: 10%;
}

footer a:hover{
    color: white;
    transition-duration: 0.25s;
}

/*Media Querie*/
@media (max-width:600px) {

body{
    width: 100%;
    
}

    #navbar {
    background-color: rgb(00, 00, 00);
    display: flex;
    flex-direction: column;
   position:fixed;
    width: 100%;
   top:0;
   left:0;
   right: 0;

   z-index: 1000;
}

.button-nav {
    background-color: red;
    margin: 1rem;
    font-weight: 700;
    font-size: x-large;
    grid-row:1;
}

#H1principal{
    grid-row: 2;
    
}

#musicas {
    min-height:100%;
}

#musicas ul{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

footer{
 text-align:left;
 display: flex;
 flex-direction: column;
}

#linkeds h2{
    padding-left: 1vw;
}

#linkeds ul{
    padding-left: 1vw;
}

#linkeds a{
     font-weight: 400;
}

#socials img{
    height: 2rem;
    width: 2rem;
}

#email{
    padding-left: 1vw;
}

#email ul{
    padding-left: 1vw;
}
}

@media (max-width:350px){
    #musicas ul{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
}